.main-footer {
  color: #ffff;
  background-color: #6bb4a4;
  padding-top: 25px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 10% !important;
}

@media screen and (max-width: 768px) {
  .main-footer {
    position: relative;
    bottom: 0;
  }
}
