.main-footer {
  color: white;
  background-color: rgb(3, 123, 153);
  padding-top: 25px;
  bottom: 0;
  width: 100%;
  margin-top: 50% !important;
  border-radius: 15px 15px 0 0 ;
}

.main-footer ul {
  display: flex;
}

.footer-fluid {
  display: flex;
}
